// Variables based on Minimal-Mistakes colorspace

$background: #2e3440;
$current: #434c5e;
$selection: #434c5e;
$foreground: #e5e9f0;
$comment: #81a1c1;
$faded: #e5e9f0;
$cyan: #88c0d0;
$green: #a3be8c;
$orange: #d08770;
$pink: #b48ead;
$purple: #765eac;
$red: #bf616a;
$yellow: #ebcb8b;

$bright_cyan: #b5e8e0;
$bright_green: #abe9b3;
$bright_orange: #f8bd96;
$bright_pink: #f5c2e7;
$bright_purple: #ddb6f2;
$bright_red: #f28fad;
$bright_yellow: #fae3b0;

// Font stacks
$body-fonts: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-fonts: "Noto Serif", "Inconsolata", "Times New Roman", Times, serif;
$mono-fonts: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal,
	monospace;
