// Variables based on Minimal-Mistakes colorspace

$background: #283036;
$current: #43515e;
$selection: #43515e;
$foreground: #e5e9f0;
$comment: #81a0c1;
$faded: #e5e9f0;
$cyan: #88c0d0;
$green: #a3be8c;
$orange: #d08770;
$pink: #b48ead;
$purple: #765eac;
$red: #bf616a;
$yellow: #b09868;

$bright_cyan: #95d4e6;
$bright_green: #c6e6aa;
$bright_orange: #e6957c;
$bright_pink: #e6b5dd;
$bright_purple: #9d7ee6;
$bright_red: #e67580;
$bright_yellow: #e6c687;

// Font stacks
$body-fonts: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-fonts: "Noto Serif", "Inconsolata", "Times New Roman", Times, serif;
$mono-fonts: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal,
	monospace;
