// Variables based on Minimal-Mistakes colorspace

$background: #2e3440;
$current: #434c5e;
$selection: #434c5e;
$foreground: #e5e9f0;
$comment: #81a1c1;
$faded: #e5e9f0;
$cyan: #b5e8e0;
$green: #abe9b3;
$orange: #f8bd96;
$pink: #f5c2e7;
$purple: #ddb6f2;
$red: #f28fad;
$yellow: #fae3b0;

// Font stacks
$body-fonts: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-fonts: "Noto Serif", "Inconsolata", "Times New Roman", Times, serif;
$mono-fonts: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal,
	monospace;
