---
layout: default
---

<article class="app">
    <header class="app-header">
        <section>
            <div id="content">
                <h4>
                    Dark theme for {{ page.title | escape }} <a href="/">and other apps.</a>
                </h4>
                {% if page.repo %}
                <div id="shields">
                    <img alt="GitHub forks"
                        src="https://img.shields.io/github/forks/{{ site.github.owner_name }}/{{ page.repo }}?colorA=434c5e&colorB=ff59f9&style=flat-square" />
                    <img alt="GitHub stars"
                        src="https://img.shields.io/github/stars/{{ site.github.owner_name }}/{{ page.repo }}?colorA=434c5e&colorB=ff59f9&style=flat-square" />
                </div>
                {% endif %}
                {% if page.screenshot %}
                <img style="border: 1px solid;"
                    src="https://github.com/{{ site.github.owner_name }}/{{ page.repo }}/blob/main/{{ page.screenshot }}?raw=true" />
                {% endif %}
            </div>
        </section>
        <h1 class="app-title">{{ page.title | escape }}</h1>
    </header>

    <div class="app-content">{{ content }}</div>
</article>