---
layout: default
---

{{ content }}

<div class="listings">
    {% for category in page.listings %}
    <div class="listings-category">
        <h2 class="title">{{ category[0] }}</h2>
        {% for listing in category[1] %}
        <div class="listing">
            {% if listing[1].link contains 'http' %}
            <a href="{{ listing[1].link }}">
                <img src="{{ listing[1].icon | relative_url }}" />
                <h3>{{ listing[0] }}</h3>
            </a>
            {% else %}
            <a href="{{ listing[1].link | baseurl }}">
                <img src="{{ listing[1].icon | relative_url }}" />
                <h3>{{ listing[0] }}</h3>
            </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>